.row {
    text-align: center;  
}

.goldpaw {
    border-style: groove;
    border-width: 7px;
    border-color: coral; 
    width:150px;
    height:150px;
}

.sponsorDog {
    border-style: groove;
    border-width: 7px;
    border-color: coral; 
    width:150px;
    height:150px; 
}

.donate {
    border-style: groove;
    border-width: 7px;
    border-color: coral; 
    width:150px;
    height:150px;
}

.facebook  {
    border-style: groove;
    border-width: 7px;
    border-color: coral; 
    width:150px;
    height:150px;
}
